{% extends 'base.html' %} {% block contents_confirm %} {% load static %}
<!-- Nav -->
<nav id="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/info">Info</a></li>
    <li class="current"><a href="/confirm">Confirm</a></li>
    <li><a href="/log">History</a></li>
  </ul>
</nav>

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'confirm/style.css' %}"
/>
<body style="overflow-y: hidden">
  <form
    action="/confirm/imageCreate"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="container">
      <div class="row">
        <div class="preview-zone hidden">
          <b>간편 확인 예시</b>
          <br />
          <image
            src="/static/confirm/yolo_ex.png"
            style="width: 240px; height: 240px; border-radius: 20%"
          />
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <div class="preview-zone hidden">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <div><b>Disease Test</b></div>
                </div>
                <div class="box-body"></div>
              </div>
            </div>
            <div class="dropzone-wrapper">
              <div class="dropzone-desc">
                <i class="glyphicon glyphicon-download-alt"></i>
                {% csrf_token %}
                <p>Choose an image file or drag it here.</p>
              </div>
              <input type="file" name="img_upload" class="dropzone" />
            </div>
            {% if messages %}
            <div class="warning">
              {% for message in messages %} {{ message.tags }}
              {{message.messages}} {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
        <div class="preview-zone hidden">
          <b>상세 확인 예시</b>
          <br />
          <image
            src="/static/confirm/cnn_ex.png"
            style="width: 240px; height: 240px; border-radius: 20%"
          />
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-12"
          title="질병 유무 확인 : 여러 잎사귀가 보이는 사진을 등록해주세요."
        >
          <button type="submit" name="btn_yolo">간편 확인</button>
        </div>
        <div
          class="col-md-12"
          title="질병명 및 대처법 확인 : 잎사귀 한 장의 전체 사진을 등록해주세요."
        >
          <button type="submit" name="btn_cnn">상세 확인</button>
        </div>
      </div>
    </div>
  </form>
</body>

<!-- partial -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
