{% extends 'base.html' %} {% block contents_home %}

<!-- Banner -->
<section id="banner">
  <div class="content">
    <h2>Welcome to OSIJYO</h2>
    <p>텃밭 작물 질병 탐지 시스템</p>
    <a href="#home" class="button scrolly">자세히 보기</a>
  </div>
</section>

<h2 class="major"><span>Project</span></h2>
<div>
  <div class="row">
    <div class="col-3 col-6-medium col-12-small">
      <!-- Feature -->
      <section class="box feature" id="home">
        <h3><a href="#">화면 구성</a></h3>
        <p>설명</p>
      </section>
    </div>
    <div class="col-3 col-6-medium col-12-small">
      <!-- Feature -->
      <section class="box feature">
        <h3><a href="#">DB 구성</a></h3>
        <p>설명</p>
      </section>
    </div>
    <div class="col-3 col-6-medium col-12-small">
      <!-- Feature -->
      <section class="box feature">
        <h3><a href="#">알고리즘</a></h3>
        <p>설명</p>
      </section>
    </div>
    <div class="col-3 col-6-medium col-12-small">
      <!-- Feature -->
      <section class="box feature">
        <h3><a href="#">조원</a></h3>
        <p>설명</p>
      </section>
    </div>
  </div>
</div>
{% endblock %}
