{% extends 'base.html' %} {% block contents_home %}

<!-- Banner -->
<section id="banner">
  <div class="content">
    <h2>Welcome to OSIJYO</h2>
    <p>텃밭 작물 질병 탐지 시스템</p>
    <a href="#home" class="button scrolly">자세히 보기</a>
  </div>
</section>

<h2 class="major"><span>Project</span></h2>
<div>
  <div class="row">
    <div class="col-3 col-6-medium col-12-small">
      <!-- Feature -->
      <section class="box feature">
        <h3><a href="#">조원</a></h3>
        <p>
          DS<br />
          유영일(팀장) : CNN & YOLO 모델링 총괄 <br />서유진(리더) : CNN & YOLO
          모델링 <br />이현지(팀원) : CNN & YOLO 모델링<br /><br />
          DE<br />
          윤은미(리더) : 풀스택 총괄 <br />성원현(팀원) : 풀스택, Info 개발<br />김윤철(팀원):
          풀스택, MyPage 개발
        </p>
      </section>
    </div>
    <div class="col-3 col-6-medium col-12-small">
      <!-- Feature -->
      <section class="box feature" id="home">
        <h3><a href="#">개발 환경</a></h3>
        <p>
          OS : Window 10 <br />Language : Python 3.8, HTML5, JavaScript, CSS
          <br />Framework : Django<br />
          DBMS : MySQL <br />CNN : tensorflow, numpy, sklearn <br />YOLO :
          darknet, OpenCV<br />
        </p>
      </section>
    </div>
    <!-- <div class="col-3 col-6-medium col-12-small">
      <section class="box feature">
        <h3><a href="#">DB 구성</a></h3>
        <p>설명</p>
      </section>
    </div> -->
    <div class="col-3 col-6-medium col-12-small">
      <!-- Feature -->
      <section class="box feature">
        <h3><a href="#">알고리즘</a></h3>
        <p>
          YOLO(다중객체 질병 유무 탐지)<br />토마토 잎사귀의 반점, 얼룩의 형태를
          통해 질병 발생 유무만을 확인<br /><br />
          CNN(단일객체 질병 분류 탐지)<br />토마토 잎사귀의 질병 형태를 확인
          하여 총 6가지의 질병으로 분류
        </p>
      </section>
    </div>
    <div class="col-3 col-6-medium col-12-small">
      <!-- Feature -->
      <section class="box feature">
        <h3><a href="#">목표</a></h3>
        <p>
          작물의 병해충 유무를 판별하고 질병 정보를 제공하는 것을 목적으로 한다
          <br />(프로젝트 기간 : 22/11/07 ~ 22/12/16)
        </p>
      </section>
    </div>
  </div>
</div>
{% endblock %}
