{% extends 'base.html' %} {% block contents_main %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}" />

<table>
  <tr>
    <td rowspan="4">
      <h1>그래프 자리</h1>
    </td>

    <td style="padding: 50px">
      <!-- partial:index.partial.html -->
      <div class="widget">
        <div class="color"></div>
        <div class="brightness"></div>
        <div class="weather"></div>
        <div class="city">Orem, UT, USA</div>
        <div class="forecast"></div>
      </div>
      <div class="about">
        <h1>Weather Widget</h1>
      </div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
      <!-- partial -->
      <script src="{% static 'main/weather.js' %}"></script>
    </td>
  </tr>

  <tr>
    <td>
      <img
        src="{% static 'main/farmer3.jpg' %}"
        width="200"
        height="350"
        alt="농부 캐릭터"
        title="농부"
      />
    </td>
  </tr>
</table>
{% endblock %}
