#result {
  text-transform: uppercase;
}
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: bold;
}
.result {
  font-size: 5.75em;
  font-weight: bolder;
  /* position: relative; */
  top: -1;
  left: -180px;
  width: 100vw;
  height: 10vh;
  text-align: center;
}

.disease_cure {
  position: relative;
  top: 100px;
  left: -10px;
}

.btn {
  position: relative;
  top: 100px;
  left: -10px;
}

.btn_yolo {
  position: relative;
  top: 20px;
  left: -10px;
}

.row > * {
  padding: 0 0 0 50px;
  text-align: center;
}

.save {
  position: relative;
  top: 100px;
  left: -10px;
}
