{% extends 'base.html' %} {% block contents_log %} {% load static %}
<!-- Nav -->
<nav id="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/info">Info</a></li>
    <li><a href="/confirm">Confirm</a></li>
    <li class="current"><a href="/log">History</a></li>
  </ul>
</nav>

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'log/log.css' %}"
/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h1 class="tomatoTitle">{{ title }}</h1>
<table class="tomatoTable">
  <thead>
    <tr>
      <th id="tNo">NO</th>
      <th><span>이미지</span></th>
      <th>검사날짜</th>
      <th>질병명</th>
      <th>질병대처법</th>
    </tr>
  </thead>

  {% for history in history_list %}
  <tr>  
    <td ><input type="hidden" id ="history_id" name="history_id" value= {{history.history_id}} >{{history.history_id}}</td> 
    <td>  
          {% if history.history_id == 2 %}
          <img src="{% static 'log/tomato2.jpg' %}" id="tomatoimg">
          {% elif history.history_id == 3 %}
          <img src="{% static 'log/tomato3.jpg' %}" id="tomatoimg">
          {% elif history.history_id == 4 %}
          <img src="{% static 'log/tomato4.jpg' %}" id="tomatoimg">
          {% elif history.history_id == 5 %}
          <img src="{% static 'log/tomato5.jpg' %}" id="tomatoimg">
          {% else %}
          <img src="{% static 'log/tomato1.jpg' %}" id="tomatoimg"> 
          {% endif %}
    </td>
    <td>{{history.reg_date|date:'Y-m-d'}}</td>
    <td>{{history.disease_name}}</td>
    <td id ="cure">{{history.disease_cure}}</td>    
  </tr>
{% endfor %} 
</table>

  <!-- Pagination -->
     <div style="text-align:center">
         <div class="pagination">
          
              <div style="width:35%; margin: 5px;">
              {% if history_list.has_previous %}
                  <a class="abutton" href="?page=1">맨 앞으로</a>
                  <a class="abutton" href="?page={{ history_list.previous_page_number }}">이전</a>
              {% endif %}
              </div>

              <div style="width:30%; margin: 5px;">
              {% for page in history_list.paginator.page_range %}
                  {% if page >= history_list.number|add:-2 and page <= history_list.number|add:2 %}
                  <span class="{% if page == history_list.number %}current{% endif %}">
                      <a href="?page={{ page }}">{{ page}}</a>
                  </span>
                  {% elif page >= history_list.number|add:-3 and page <= history_list.number|add:3 %}
                      ..
                  {% endif %}
              {% endfor %}
              </div>

              <div style="width:35%; margin: 5px;">
              {% if history_list.has_next %}
                  <a class="abutton" href="?page={{ history_list.next_page_number }}">다음</a>
                  <a class="abutton" href="?page={{ history_list.paginator.num_pages }}">맨 뒤로</a>
              {% endif %}
              </div>

          </div>  
      </div> 
  </div>

<script type="text/javascript">


</script>
{% endblock %}