{% extends 'base.html' %} {% block contents_myPage %} {% load static %}
<!-- Nav -->
<nav id="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/info">Info</a></li>
    <li><a href="/confirm">Confirm</a></li>
    <li class="current"><a href="/log">History</a></li>
  </ul>
</nav>


<link rel="stylesheet" type="text/css" href="{% static 'log/log.css' %}"/>

<h1 class="tomatoTitle">나의 토마토 질병 정보</h1>
<table class="tomatoTable">
  <thead>
    <tr>
      <th id="tNo">NO</th>
      <th><span>이미지</span></th>
      <th>검사날짜</th>
      <th>질병명</th>
      <th>질병대처법</th>
      <th>상태</th>
    </tr>
  </thead>
  {% for history in historys %}
  <tr>  
    <td>{{history.history_id}}</td> 
    <td>  
          <!-- {% if history.history_id == 2 %}
          <img src="{% static 'myPage/tomato2.jpg' %}" id="tomatoimg">
          {% elif history.history_id == 3 %}
          <img src="{% static 'myPage/tomato3.jpg' %}" id="tomatoimg">
          {% elif history.history_id == 4 %}
          <img src="{% static 'myPage/tomato4.jpg' %}" id="tomatoimg">
          {% elif history.history_id == 5 %}
          <img src="{% static 'myPage/tomato5.jpg' %}" id="tomatoimg">
          {% else %}
          <img src="{% static 'myPage/tomato1.jpg' %}" id="tomatoimg"> 
          {% endif %} -->
    </td>
    <td>{{history.reg_date|date:'Y-m-d'}}</td>
    <td>{{history.disease_name}}</td>
    <td>{{history.disease_cure}}</td>    
     <td id = "sel"><select name="tomatoSet" id="tomatoC">
        <option value= {{history.status_code.status_code}}>{{history.status_code.status_name}}</option>
        </select></td>
    </td>  
  </tr>
  {% endfor %} 

</table>
<button class="tsb" type="button">상태 수정</button>
{% endblock %}