{% extends 'base.html' %} {% block contents_myPage %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'myPage/myPage.css' %}"
/>

<h1 class="tomatoTitle">나의 토마토 질병 정보</h1>
<table class="tomatoTable">
  <thead>
    <tr>
      <th id="tNo">NO</th>
      <th><span>이미지</span></th>
      <th>검사날짜</th>
      <th>질병명</th>
      <th>질병대처법</th>
      <th>상태</th>
    </tr>
  </thead>
  <tr>
    <td>1</td>
    <td>
      <img
        src="{% static 'myPage/tomato1.jpg' %}"
        alt="tomato1"
        id="tomatoimg"
      />
    </td>
    <td>2022/11/23</td>
    <td>겹무늬병</td>
    <td>치료제</td>
    <td id="sel">
      <select name="tomatoSet" id="tomatoC">
        {% comment %}
        <option value="">선택하세요</option>
        {% endcomment %}
        <option value="1">건강</option>
        {% comment %}
        <option value="2">완치</option>
        <option value="3">치료중</option>
        {% endcomment %}
      </select>
    </td>
  </tr>

  <tr>
    <td>2</td>
    <td>
      <img
        src="{% static 'myPage/tomato1.jpg' %}"
        alt="tomato1"
        id="tomatoimg"
      />
    </td>
    <td>2022/11/23</td>
    <td>잎마름역병</td>
    <td>수분추가</td>
    <td id="sel">
      <select name="tomatoSet" id="tomatoC">
        {% comment %}
        <option value="">선택하세요</option>
        <option value="1">건강</option>
        <option value="2">완치</option>
        {% endcomment %}
        <option value="3">치료중</option>
      </select>
    </td>
  </tr>

  <tr>
    <td>3</td>
    <td>
      <img
        src="{% static 'myPage/tomato1.jpg' %}"
        alt="tomato1"
        id="tomatoimg"
      />
    </td>
    <td>2022/11/23</td>
    <td>모자이크병</td>
    <td>치료제</td>
    <td id="sel">
      <select name="tomatoSet" id="tomatoC">
        {% comment %}
        <option value="">선택하세요</option>
        {% endcomment %}
        <option value="1">건강</option>
        {% comment %}
        <option value="2">완치</option>
        <option value="3">치료중</option>
        {% endcomment %}
      </select>
    </td>
  </tr>

  <tr>
    <td>4</td>
    <td>
      <img
        src="{% static 'myPage/tomato1.jpg' %}"
        alt="tomato1"
        id="tomatoimg"
      />
    </td>
    <td>2022/11/23</td>
    <td>잎곰팡이병</td>
    <td>수분제거</td>
    <td id="sel">
      <select name="tomatoSet" id="tomatoC">
        {% comment %}
        <option value="">선택하세요</option>
        <option value="1">건강</option>
        <option value="2">완치</option>
        {% endcomment %}
        <option value="3">치료중</option>
      </select>
    </td>
  </tr>

  <tr>
    <td>5</td>
    <td>
      <img
        src="{% static 'myPage/tomato1.jpg' %}"
        alt="tomato1"
        id="tomatoimg"
      />
    </td>
    <td>2022/11/23</td>
    <td>흰무늬병</td>
    <td>통풍</td>
    <td id="sel">
      <select name="tomatoSet" id="tomatoC">
        {% comment %}
        <option value="">선택하세요</option>
        <option value="1">건강</option>
        {% endcomment %}
        <option value="2">완치</option>
        {% comment %}
        <option value="3">치료중</option>
        {% endcomment %}
      </select>
    </td>
  </tr>
</table>
<button class="tsb" type="button">상태 수정</button>
{% endblock %}
