<!doctype html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<!-- TAB CONTROLLERS -->
<head>
  <input
    id="panel-1-ctrl"
    class="panel-radios"
    type="radio"
    name="tab-radios"
  />
  <input
    id="panel-2-ctrl"
    class="panel-radios"
    type="radio"
    name="tab-radios"
  />
  <input
    id="panel-3-ctrl"
    class="panel-radios"
    type="radio"
    name="tab-radios"
  />
  <input
    id="nav-ctrl"
    class="panel-radios"
    type="checkbox"
    name="nav-checkbox"
  />

  <header id="introduction">
    <h1>Osijyo</h1>
  </header>

  <!-- TABS LIST -->
  <ul id="tabs-list">
    <nav id="nav">
      <a class="panel-1" href="/">Main</a>
      <a class="panel-2" href="/confirm">Confirm</a>
      <a class="panel-3" href="/mypage">My page</a>
    </nav>
    <!-- MENU TOGGLE -->
    <label id="open-nav-label" for="nav-ctrl"></label>
    <li id="li-for-panel-1">
      <label class="panel-label" for="panel-1-ctrl"><a href="/">Main</a></label>
    </li>
    <!--INLINE-BLOCK FIX
 -->
    <li id="li-for-panel-2">
      <label class="panel-label" for="panel-2-ctrl"><a href="/confirm">Confirm</a></label>
    </li>
    <!--INLINE-BLOCK FIX
 -->
    <li id="li-for-panel-3">
      <label class="panel-label" for="panel-3-ctrl"><a href="/mypage">My page</a></label>
    </li>
    <!--INLINE-BLOCK FIX
 -->
    <label id="close-nav-label" for="nav-ctrl">Close</label>
  </ul>
</head>
<!-- THE PANELS -->
<body style="overflow-x:hidden">
  <article id="panels">
    <div class="container">
      <section id="panel-1">
        <main>{% block contents_main %}{% endblock %}</main>
      </section>
      <section id="panel-2">
        <main style="overflow-x:hidden">{% block contents_confirm %}{% endblock %}</main>
      </section>
      <section id="panel-3">
        <main>{% block contents_ %}{% endblock %}</main>
      </section>
    </div>
  </article>

  <script src="./base.js"></script>
</body>
</html>