.tomatoTitle {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
  text-align: center;
}

#tomatoC {
  text-align: center;
  width: 100%;
}

#tNo {
  width: 5%;
}
#tomatoimg {
  display: block;
  margin: 0px auto;
  height: 100px;
  width: 100px;
}

#sel {
  text-align: center;
}

button {
  margin: 20px;
  float: right;
  visibility: hidden;
}

.tsb {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}

.tomatoTable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #fff;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167f92;
}
.tomatoTable thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  background: #fff;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167f92;
}
.tomatoTable thead th {
  background-color: #167f92;
  border: 1px solid #1d96b2;
  font-weight: normal;
  text-align: left;
  border: 1px solid #fff;
  background-color: #167f92;
  color: #fff;
}
.tomatoTable thead th {
  text-align: center;
}
.tomatoTable tbody,
.tomatoTable tr,
.tomatoTable td {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
}
.tomatoTable th,
.tomatoTable td {
  padding: 0.5em;
  vertical-align: middle;
  text-align: left;
}

.tomatoTable tfoot {
  font-size: 0.8em;
  font-style: italic;
}
.tomatoTable tbody tr {
  margin-bottom: 1em;
  border: 2px solid #1d96b2;
}

.tomatoTable tbody td {
  border: 1px solid #d9e4e6;
}

@media (min-width: 52em) {
  .tomatoTable {
    font-size: 0.9em;
  }
  .tomatoTable thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
  .tomatoTable tr {
    display: table-row;
  }
  .tomatoTable th,
  .tomatoTable td {
    display: table-cell;
    padding: 0.5em;
  }

  .tomatoTable tbody {
    display: table-row-group;
  }
  .tomatoTable tbody tr {
    display: table-row;
    border-width: 1px;
    background: #fff;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167f92;
  }

  .tomatoTable tbody td {
    text-align: left;
  }
}
@media (min-width: 62em) {
  .tomatoTable {
    font-size: 1em;
  }
  .tomatoTable th,
  .tomatoTable td {
    padding: 0.75em 0.5em;
  }
  .tomatoTable tfoot {
    font-size: 0.9em;
  }
}

@media (min-width: 75em) {
  .tomatoTable th,
  .tomatoTable td {
    padding: 0.75em;
  }
}

.abutton {
  color: rgb(0, 36, 241);
  text-decoration: none;
}